form{
	width: 80%;
	margin: auto;
	text-align: center;
}

form *{
	margin: 0.5%;
}
form .surveyXML{
	margin: 0.5%;
	height: 40em;
	width: 90%;
	padding: 2%;
	background-color:#660011;
	color:#fad2aa;
}
form input{
	background-color:#660011;
	border-color: #660011;
	color: #fad2aa;
	padding: 1%;
}

form input[type="submit"], form input[type="reset"] {
	width: 5em;
	margin: 1%;
}