#nav, #nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	background: #660011;
}
#nav a {
	font-weight: bold;
	color: green;
	text-decoration: none;
}
#nav li li a {
	display: block;
	font-weight: normal;
	color: #060;
	padding: 0.2em 10px;
}
#nav li li a:hover {
	padding: 0.2em 5px;
	border: 5px solid #7d6340;
	border-width: 0 5px;
	cursor: pointer;
}
#nav li {
	float: left;
	position: relative;
	width: 10em;
	text-align: center;
	cursor: default;
	background-color: white;
	border: 1px solid #7d6340;
	border-width: 0px 0px 1px 0px;
}
#nav li ul, #nav li li ul {
	display: none;
	position: absolute;
	top: 100%;
	width: 10em;
	font-weight: normal;
	padding: 0.5em 0 1em 0;
	border: solid 1px #7d6340;
}
#nav li > ul {
	top: auto;
	left: auto;
}
#nav li li {
	display: block;
	float: none;
	background-color: white;
	border: 0;
}
#nav li:hover ul {
	display: block;
}