/*color*/
#navDiv {
	color: #660011;
}
#nav{
	width:100%;
}
#nav, #nav ul {
	background-color: #660011;
}
#nav a {
	color: #fad2aa;
}
#nav li {
	background-color: #660011;
	border-color: #7d6340;
	border-color: white;
}
#nav li a:hover, #nav li:hover> a  {
	transition: background-color 1s;
	/* Firefox 4 */
	-moz-transition: background-color 1s;
	/* Safari and Chrome */
	/*	-webkit-transition: color 1s, background-color 1s, text-transform 1s;*/
	-webkit-transition: background-color 1s;
	/* Opera */
	-o-transition: background-color 1s;
/*	font-weight: bolder;*/
	background-color: #330011;
	/*	color: #555544;*/
	text-transform: uppercase;
}
#nav li ul, #nav li li ul {
	border-color: #7d6340;
}
#nav li li a:hover {
/*	border-color: #7d6340;*/
}
/******************Other**********************/
#navDiv {
}
#nav{
	float:left;
	width: 100%;
}
#nav, #nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#nav a {
	font-weight: bold;
	text-decoration: none;
	display: block;
/*	float:left;*/
}
#nav li {
	float: left;
	position: relative;
	width: 33.3%;
	text-align: center;
	cursor: default;
	border: 1px solid;
	border-width: 0px 0px 1px 0px;
}
#nav>li{
/*	margin-left: 1px;*/
}
#nav > li > a {
	letter-spacing: 10px;
	width: 100%;
}
#nav li ul, #nav li li ul {
	display: none;
	position: absolute;
	top: 100%;
	width: 10em;
	font-weight: normal;
	padding: 0.5em 0 0.5em 0;
	border: solid 1px;
}
#nav li li a {
	display: block;
	font-weight: normal;
	padding: 0.2em 10px;
}
#nav li li a:hover {
	padding: 0.2em 5px;
/*	cursor: pointer;*/
}
#nav li > ul {
	top: auto;
	left: auto;
	width: 100%;
}
#nav li li {
	display: block;
	float: none;
	border: 0;
	width: 100%
}
#nav li:hover ul {
	display: block;
}
#nav li li a:hover {
	padding: 0.2em 5px;
	border: 5px solid;
	border-width: 0 5px;
/*	cursor: pointer;*/
}